- title = property.label || property.uri
- set_page_title "Property #{title}"
- highlight_in_menu "vocabularies"
- page_kind 'ontology property'
- bodyclass 'ontology'

- additional_formats_for_resource(property.uri)

%header
	= fullwidth do
		= badge("property")
		= page_title(title)
		= title_uri property.uri
	- if property.defined_by_ontology
		= fullwidth do
			=label("Ontology")
			%p= link_to "#{property.defined_by_ontology.label || property.defined_by_ontology.uri}", resource_path_from_uri(property.defined_by_ontology.uri)

= render 'publish_my_data/stripes/resource_data', resource: property
