%head
	%title
		= render 'publish_my_data/shared/meta_title'
	%description
		= yield :page_description
	= javascript_include_tag :modernizr
	= javascript_include_tag :publish_my_data
	= stylesheet_link_tag :application