<h1>Ontology <%= ontology.label || ontology.uri %></h1>

<h2>Overview</h2>
<%= render 'publish_my_data/resources/predicates_table', resource: ontology %>

<h2>Classes</h2>
<%= render 'publish_my_data/ontologies/classes', :ontology => ontology %>

<br/>

<h2>Properties</h2>
<%= render 'publish_my_data/ontologies/properties', :ontology => ontology %>

<br/><br/>

Get this ontology as:
<%= render 'publish_my_data/resources/resource_formats', :resource => ontology %>