- title = ontology.label || ontology.uri
- kind = ontology.local? ? 'Ontology' : 'External Ontology'

- set_page_title "Ontology: #{title}"
- highlight_in_menu "vocabularies"
- page_kind 'ontology'
- bodyclass 'ontology'

- additional_formats_for_resource(ontology.uri)

%header{class: (ontology.deprecated? ? "deprecated" : "")}
	= fullwidth do
		= badge kind
		= page_title title
		= title_uri ontology.uri
		- if ontology.deprecated?
			= render 'publish_my_data/shared/deprecation_notice', resource: ontology, description:"ontology"

= render 'publish_my_data/stripes/vocabulary_metadata', vocabulary:ontology, is_a:"ontology"

- if (ontology.classes_sorted.count > 0 )
	= render 'publish_my_data/stripes/list_of_resources', title:"Classes", resources:ontology.classes_sorted
- if (ontology.properties_sorted.count > 0 )
	= render 'publish_my_data/stripes/list_of_resources', title:"Properties", resources:ontology.properties_sorted

= render 'publish_my_data/stripes/linked_data', resource:ontology, resource_class_name:"ontology"