<h1>Ontology <%= ontology.label || ontology.uri %></h1>

<%= ontology.description %>

<h2>Overview</h2>
<%= render 'publish_my_data/resources/predicates_table', resource: ontology %>

<%= render 'publish_my_data/resources/summaries', :resources => ontology_classes %>

<br/>

<%= render 'publish_my_data/resources/summaries', :resources => ontology_properties %>

<br/><br/>

Get this ontology as:
<%= render 'publish_my_data/resources/resource_formats', :resource => ontology, :resource_descriptor => "ontology" %>