<% page_title("Ontology: #{ontology.label || ontology.uri}")%>

<% content_for :data_crumb do %>
  <ol class="breadcrumb">
    <%= data_home_crumb %>
    <%= ontology_crumb(ontology, true) %>
  </ol>
<% end %>

<% if ontology.deprecated? %>
  <%= render partial: 'publish_my_data/shared/deprecation_notice', locals: {resource: ontology} %>
<% end %>

<article class="ontology">

  <%= top_section(ontology.label || ontology.uri, ontology.uri, (ontology.local? ? "Ontology" : "External Ontology"), "URI") %>

  <section class='neverhide'>
    <div class="row container">
      <div class="ten columns">
        <% if ontology.comment.present? %>
          <h3>Description</h3>
          <p><%= auto_link ontology.comment.to_s %></p>
        <% end %>

        <% if ontology.publisher.present? %>
          <h3>Publisher</h3>
          <p><%= resource_uri_or_label(ontology, ontology.publisher) %></p>
        <% end %>

        <% if ontology.license.present? %>
          <h3>Licence</h3>
          <p><%= resource_uri_or_label(ontology, ontology.license) %></p>
        <% end %>

        <% if ontology.contact_email.present? %>
          <h3>Contact</h3>
          <p><%= auto_link ontology.contact_email.to_s.gsub("mailto:","") %></p>
        <% end %>

        <% if ontology.description.present? %>
          <h3>Further Information</h3>
          <noscript>
            <%= RDiscount.new(ontology.description.to_s).to_html.html_safe %>
            <style> .js-only { display: none } </style>
          </noscript>
          <div class="js-only truncated" id="further-info-wrapper" >
            <%= RDiscount.new(ontology.description.to_s).to_html.html_safe %>
            <div class="fade-out"></div>
          </div>
          <p class="js-only"><a href="#" id="read-more">Read more...</a></p>
          <script>
            $("a#read-more").click(function(e) {
              e.preventDefault();
              $("#further-info-wrapper").removeClass("truncated");
              $("#further-info-wrapper .fade-out").hide();
              $("a#read-more").closest('p').hide();
            });
          </script>
        <% end %>
      </div>
      <div class="five columns offset-by-one">
        <% if ontology.local? %>
          <% if ontology.issued.present? %>
            <h3>Issued</h3>
            <p><%= DateTime.parse(ontology.issued.to_s).to_s(:long) %></p>
          <% end %>

          <% if ontology.modified.present? %>
            <h3>Modified</h3>
            <p><%= DateTime.parse(ontology.modified.to_s).to_s(:long) %></p>
          <% end %>
        <% end %>

        <% if ontology.tags && ontology.tags.any? %>
          <h3>Tags</h3>
          <p><%= ontology.tags.join(", ") %></p>
        <% end %>
      </div>
    </div>
    </div>
    <nav class="container">
      <ul class="tabs" style="display:none;">
        <li><a id="default_tab" href="#classes">Classes</a></li>
        <li><a href="#properties">Properties</a></li>
        <li><a href="#rdf-api">Linked Data &amp; SPARQL</a></li>
    </ul>
    </nav>
  </section>

  <section id="classes">
    <div class="row container">
      <%= render 'publish_my_data/resources/summaries', :resources => ontology.classes %>
    </div>
  </section>

  <section id="properties">
    <div class="row container">
      <%= render 'publish_my_data/resources/summaries', :resources => ontology.properties %>
    </div>
  </section>
  <%= render 'publish_my_data/resources/sparql_section', resource: ontology %>

  <%= render 'publish_my_data/resources/resource_formats', :resource => ontology, :resource_descriptor => "resource" %>

</article>