- title = concept.label || concept.uri
- set_page_title "Concept #{title}"
- page_kind 'concept scheme'
- bodyclass 'concept'

- additional_formats_for_resource(concept.uri)

%header
	= fullwidth do
		= badge("concept")
		= page_title(title)
		= title_uri concept.uri
	- if concept.concept_scheme
		= fullwidth do
			=label("Concept Scheme")
			%p= link_to "#{concept.concept_scheme.label || concept.concept_scheme.uri}", resource_path_from_uri(concept.concept_scheme.uri)

= render  'publish_my_data/stripes/resource_data', resource:concept