= form_tag sparql_endpoint_path, method: :get do
  .form-group
    = text_area_tag :query, @query_text

  - # this is the interpolation form:
  - if @expected_variables && @expected_variables.any?
    %fieldset.sparql-parameters
      %legend Parameters

      :markdown
        Values supplied below will be substituted into the query in place of the <code>%{tokens}</code>. See the [developer docs](/docs) for more details.

      - @expected_variables.each do |v|

        :ruby
          field_options = {:class => 'field'}

          if @missing_variables && @missing_variables.include?(v)
            field_options.merge!(:class => 'field has-error')
          end

        - unless @reserved_variables_used && @reserved_variables_used.include?(v)
          - # don't include reserved ones
          = content_tag :div, field_options do
            %label=v
            = text_field_tag v, @interpolations[v]

  = submit_tag "Run Query", id: 'run-sparql-query'