- page_title "SPARQL Endpoint"

- content_for :crumbs do
  %ol.breadcrumb
    = data_home_crumb
    = crumb_list_item "SPARQL", "/sparql", "sparqlpage"

%article#sparql
  %header
    - if @sparql_query
      %h1 SPARQL Query Results
    - else
      %h1 Run a SPARQL Query

  - if @sparql_query
    %section#results
      - if @error_message
        #error-message
          %h3 Sorry, your query failed to run.</h3>
          %p= error_message

      - else
        - if @sparql_query.query_type == :select

          .grid-status
            .status-value
            = image_tag("publish_my_data/small-spinner.gif", alt: "busy", style: "display:none", class: "busy")

          #results-grid.data-grid

          .grid-footer
            .footer-content
              %a.download-csv{href: sparql_endpoint_url(format: 'csv', query: @sparql_query.query)}
                %i.icon-download
                Download Results as CSV

          :javascript
            // use this instead of $(function(){}) to fix slick grid stylesheet load issues.
            $(window).load(function() {
              var encodedQuery = "#{CGI.escape(@sparql_query.query)}"; // note that we encode on the server so we don't hit the multiline JS prob
              new Swirrl.SparqlResultsGrid(encodedQuery);
            });

        - else
          - # TODO

  %section#Query
    - if @sparql_query
      %h3 Edit the query
    - else
      %h3 Enter a query

    = form_tag sparql_endpoint_path, method: :get do
      = text_area_tag :query, @query_text
      = submit_tag "Run Query"

  %footer.alternative-formats
    - if @error_message || (!@sparql_query) || @sparql_query.query_type == :unknown
      :markdown
        This **page** is available as:

      %ul
        %li HTML

    - else
      %ul
        %li
          - #TODO: formats