- page_title "SPARQL Endpoint"

- content_for :data_crumb do
  %ol.breadcrumb
    = data_home_crumb
    = crumb_list_item "SPARQL", "/sparql", "sparqlpage"

%article.sparql-page
  - if @sparql_query
    = top_section "SPARQL Query Results"
  - else
    = top_section "Run a SPARQL Query"

  %section
    .container
      - if @sparql_query
        = render 'publish_my_data/sparql/results'
        .row
          .sixteen.columns
            %h3.edit-query Edit the Query
            = render 'publish_my_data/sparql/form'

            %h3 Permalink
            %code.click-to-select.permalink
              = sparql_endpoint_url(:query => @sparql_query.query)

            - unless @error_message || @sparql_query.query_type == :unknown
              .api
                %h3 API
                %div
                  %span
                    Request this <strong>complete set</strong> of results as
                  = render 'publish_my_data/sparql/formats_dropdown'
                  %span
                    by issuing an HTTP GET request to the following URL (or use the links in the footer).

                %code.click-to-select
                  = sparql_endpoint_url(:format => 'format', :query => @sparql_query.query)
      - else
        .row
          .sixteen.columns
            %h3.edit-query Enter a query
            = render 'publish_my_data/sparql/form'
            :javascript
              // focus the text area when the page loads (only when there's no results)
              $(function() {
                $('#console-query').focus();
              });
      .sixteen.columns
        %h3 Developer Docs
        :markdown
          Read [full documentation](/docs#sparql-introduction) on getting SPARQL results programmatically.

- if @sparql_query
  = render 'publish_my_data/sparql/formats'
- else
  = bottom_formats_section "page"