- title = ontology_class.label || ontology_class.uri

- highlight_in_menu "vocabularies"
- set_page_title("Class: #{title}")
- page_kind 'ontology class'
- set_pmd_page_class 'ontology'

- additional_formats_for_resource(ontology_class.uri)

%header
	= fullwidth do
		= badge("class")
		= page_title(title)
		= title_uri ontology_class.uri
	- if ontology_class.defined_by_ontology
		= fullwidth do
			=label("Ontology")
			%p= link_to "Ontology: #{ontology_class.defined_by_ontology.label || ontology_class.defined_by_ontology.uri}", resource_path_from_uri(ontology_class.defined_by_ontology.uri)

= render  'publish_my_data/stripes/resource_data', resource: ontology_class

