= inside_layout 'application' do

	%main.pmd{class:@pmd_page_class}
		= render 'publish_my_data/stripes/subnav'
		= render 'publish_my_data/stripes/status'

		%article
			= yield
			= render 'publish_my_data/stripes/formats'

		= render 'publish_my_data/stripes/footer'
		= render 'publish_my_data/shared/google_analytics'
