= inside_layout 'application' do

	%main.pmd.documentation
		= render 'publish_my_data/stripes/subnav'
		= render 'publish_my_data/stripes/status'
		
		%article
			%h1
				DOCUMENTATION
			= yield
			= render 'publish_my_data/stripes/formats'
		
		= render 'publish_my_data/stripes/footer'
		= render 'publish_my_data/shared/google_analytics'