= inside_layout 'application' do

	%main.pmd.documentation
		= render 'publish_my_data/stripes/subnav'
		= render 'publish_my_data/stripes/status'

		%article
			%header
				=fullwidth do
					= yield :docs_intro
			%section
				=fullwidth do
					- # for now, inline - in future, erhaps in a sidebar or something...
					= yield :docs_contents
					= yield

		= render 'publish_my_data/stripes/footer'
		= render 'publish_my_data/shared/google_analytics'