<% page_title "Accessibility" %>

<% content_for :data_crumb do %>
  <ol class="breadcrumb">
    <%= data_home_crumb %>
    <%= crumb_list_item("Accessibility", publish_my_data_enterprise.accessibility_path, "docs") %>
  </ol>
<% end %>

<article class="docs">
  <%= top_section("Accessibility") %>

  <section id="overview">
    <div class="row container">
      <div class="sixteen columns">
        <%= render 'accessibility_copy' %>
      </div>
    </div>
  </section>
  <%= bottom_formats_section "page" %>
</article>