- highlight_in_menu "browse"
- set_page_title "Themes"
- page_kind 'list of themes'

%header
	= fullwidth do
		= page_title("Datasets by theme")
		%p The datasets are organised into #{pluralize @themes.length, "broad themes"}.
%section
	= fullwidth do
		%table
			%thead
				%tr
					%th
						theme
					%th.centred
						datasets
			%tbody
				- @themes.each do |theme|
					%tr
						%td
							%h3
								= link_to (theme.label || theme.uri), theme
							%p
								= theme.comment
						%td.centred
							%h3
								=theme.datasets_count

/
	- content_for :formats do
		%ul
			%li= link_to 'N-triples', format: 'nt'
			%li= link_to "Turtle", format: 'ttl'
			%li= link_to "RDF/XML", format: 'rdf'
			%li= link_to "JSON", format: 'json'