<h1>Theme: <%= @theme.label %></h1>

<p><%= @theme.description %></p>

Datasets in this theme: <br/>
<% @datasets.each do |d| %>
  <%= link_to d.title, d %> <br/>
<% end %>
<br/>
<%= paginate @datasets %>
Get this list of datasets as:
<%= link_to 'N-triples', :format => 'nt', :page => @pagination_params.page, :per_page => @pagination_params.per_page %>
<%= link_to 'Turtle', :format => 'ttl', :page => @pagination_params.page, :per_page => @pagination_params.per_page %>
<%= link_to 'RDF/XML', :format => 'rdf',:page => @pagination_params.page, :per_page => @pagination_params.per_page %>
<%= link_to 'JSON', :format => 'json', :page => @pagination_params.page, :per_page => @pagination_params.per_page %>