<h1>Theme: <%= theme.label %></h1>

<p><%= theme.description %></p>

<% datasets.each do |d| %>
  <%= link_to d.title, d %> <br/>
<% end %>

<%= paginate datasets %>

<br/>

Get this list of datasets as:
<%= link_to 'N-triples', :format => 'nt', :page => pagination_params.page, :per_page => pagination_params.per_page, :uri => params[:uri] %>
<%= link_to 'Turtle', :format => 'ttl', :page => pagination_params.page, :per_page => pagination_params.per_page, :uri => params[:uri] %>
<%= link_to 'RDF/XML', :format => 'rdf',:page => pagination_params.page, :per_page => pagination_params.per_page, :uri => params[:uri] %>
<%= link_to 'JSON', :format => 'json', :page => pagination_params.page, :per_page => pagination_params.per_page, :uri => params[:uri] %>

<br/><br/>

Get this theme as:
<%= render 'publish_my_data/resources/resource_formats', :resource => theme %>