- highlight_in_menu "browse"
- set_page_title "Theme: #{@theme.label || @theme.uri}"
- page_kind 'themed list of datasets'
- set_pmd_page_class 'theme'

- format_options = {only_path:false, page: @pagination_params.page, per_page: @pagination_params.per_page}
- additional_format('N-triples', url_for(format_options.merge(format: 'nt')))
- additional_format('Turtle', url_for(format_options.merge(format: 'ttl')))
- additional_format('RDF/XML', url_for(format_options.merge(format: 'rdf')))
- additional_format('JSON', url_for(format_options.merge(format: 'json')))

%header
	= fullwidth do
		= badge("theme")
		%h1
			= @theme.label || @theme.uri
			%span{style:"font-weight:normal"}
				= "(#{pluralize @datasets.length, "dataset"})"
		%p
			= @theme.comment
		= link_to "Metadata for this theme", resource_path_from_uri(@theme.uri)

= render "publish_my_data/stripes/dataset_list", locals:{container:"theme", preposition:"in"}

/
	- content_for :formats do
		%ul
			%li= link_to('N-triples', :format => 'nt', :page => @pagination_params.page, :per_page => @pagination_params.per_page)
			%li= link_to("Turtle", :format => 'ttl', :page => @pagination_params.page, :per_page => @pagination_params.per_page)
			%li= link_to("RDF/XML", :format => 'rdf', :page => @pagination_params.page, :per_page => @pagination_params.per_page)
			%li= link_to("JSON", :format => 'json', :page => @pagination_params.page, :per_page => @pagination_params.per_page)