<% page_title "Themes" %>

<% content_for :data_crumb do %>
  <ol class="breadcrumb">
    <%= data_home_crumb %>
    <%= themes_crumb %>
  </ol>
<% end %>

<article>

  <%= top_section("Themes")%>

  <%= render 'themes_intro' %>

  <section>
    <div class="row container">
      <%= render 'themes_table', :themes => @themes %>
    </div>
  </section>

  <%# note no pagination for themes %>
  <%= bottom_formats_section "list of themes",
      link_to('N-triples', :format => 'nt'),
      link_to("Turtle", :format => 'ttl'),
      link_to("RDF/XML", :format => 'rdf'),
      link_to("JSON", :format => 'json')
  %>
</article>
