= form_for @fragment do |f|
  = f.hidden_field :dataset_uri, @dataset.uri

  - @dataset.dimensions.each do |dimension|
    = dimension.label
    - dimension.values.each do |value|
      = "*checkbox*"
      = value.label

  = f.submit