- page_title 'Datasets'

- content_for :crumbs do
  %ol.breadcrumb
    %li= link_to_home
    %li.datasets Datasets

%section#datasets
  %header
    %h1 Datasets
  %ul
    - @datasets.each do |dataset|
      %li
        = link_to dataset.title, dataset
        - if dataset.deprecated?
          %span.discontinued
            %i.icon.-warning
            Discontinued
  - if pagination_required?(@datasets, @pagination_params)
    = paginate @datasets
  %footer.alternative-formats
    :markdown
      This **page** is available as
    %ul
      %li HTML
      %li= link_to 'N-triples', format: 'nt', page: @pagination_params.page, per_page: @pagination_params.per_page
      %li= link_to "Turtle", format: 'ttl', page: @pagination_params.page, per_page: @pagination_params.per_page
      %li= link_to "RDF/XML", format: 'rdf', page: @pagination_params.page, per_page: @pagination_params.per_page
      %li= link_to "JSON", format: 'json', page: @pagination_params.page, per_page: @pagination_params.per_page