<h1>datasets index</h1>

<% if @theme %>
  Datasets in theme: <%= @theme %>
  <br/><br/>
<% end %>

<% @datasets.each do |d| %>
  <%= link_to d.title, d.uri.to_s %> <br/>
<% end %>

<%= paginate @datasets %>

<br/>

Get this list as:
<%= link_to 'N-triples', :format => 'nt', :page => @pagination_params.page, :per_page => @pagination_params.per_page %>
<%= link_to 'Turtle', :format => 'ttl', :page => @pagination_params.page, :per_page => @pagination_params.per_page %>
<%= link_to 'RDF/XML', :format => 'rdf',:page => @pagination_params.page, :per_page => @pagination_params.per_page %>
<%= link_to 'JSON', :format => 'json', :page => @pagination_params.page, :per_page => @pagination_params.per_page %>