<% content_for :data_crumb do %>
  <ol class="breadcrumb">
    <%= data_home_crumb %>
    <%= crumb_list_item("Datasets", "#", "datasets") %>
  </ol>
<% end %>

<% page_title "Datasets" %>

<article class="datasets">

  <%= top_section("Datasets")%>

  <section>
    <div class="row container">
      <%= render 'datasets_table',
        datasets: @datasets,
        pagination_params: @pagination_params %>
    </div>
  </section>

  <%= bottom_formats_section "page of datasets",
      link_to('N-triples', :format => 'nt', :page => @pagination_params.page, :per_page => @pagination_params.per_page),
      link_to("Turtle", :format => 'ttl', :page => @pagination_params.page, :per_page => @pagination_params.per_page),
      link_to("RDF/XML", :format => 'rdf', :page => @pagination_params.page, :per_page => @pagination_params.per_page),
      link_to("JSON", :format => 'json', :page => @pagination_params.page, :per_page => @pagination_params.per_page)
  %>
</article>
