- title = concept_scheme.label || concept_scheme.uri
- kind = concept_scheme.local? ? 'Concept Scheme' : 'External Concept Scheme'

- set_page_title "Concept scheme: #{title}"
- highlight_in_menu "vocabularies"
- page_kind 'concept scheme'
- bodyclass 'concept_scheme'

- additional_formats_for_resource(concept_scheme.uri)

%header{class: (concept_scheme.deprecated? ? "deprecated" : "")}
	= fullwidth do
		= badge kind
		= page_title title
		= title_uri concept_scheme.uri
		- if concept_scheme.deprecated?
			= render 'publish_my_data/shared/deprecation_notice', resource: concept_scheme, description:"concept scheme"

= render 'publish_my_data/stripes/vocabulary_metadata', vocabulary:concept_scheme, is_a:"concept scheme"
= render 'publish_my_data/stripes/list_of_resources', title:"Concepts", resources:concept_scheme.concepts_sorted
= render 'publish_my_data/stripes/linked_data', resource:concept_scheme, resource_class_name:"concept scheme"