<% page_title("Concept Scheme: #{concept_scheme.label || concept_scheme.uri}")%>

<% content_for :data_crumb do %>
  <ol class="breadcrumb">
    <%= data_home_crumb %>
    <%= concept_scheme_crumb(concept_scheme, true) %>
  </ol>
<% end %>

<% if concept_scheme.deprecated? %>
  <%= render partial: 'publish_my_data/shared/deprecation_notice', locals: {resource: concept_scheme} %>
<% end %>

<article class="concept_scheme">

  <%= top_section(concept_scheme.label || concept_scheme.uri, concept_scheme.uri, (concept_scheme.local? ? "Concept Scheme" : "External Concept Scheme"), "URI") %>

  <section class='neverhide'>
    <div class="row container">
      <div class="ten columns">

        <% if concept_scheme.comment.present? %>
          <h3>Description</h3>
          <p><%= auto_link concept_scheme.comment.to_s %></p>
        <% end %>

        <% if concept_scheme.publisher.present? %>
          <h3>Publisher</h3>
          <p><%= resource_uri_or_label(concept_scheme, concept_scheme.publisher) %></p>
        <% end %>

        <% if concept_scheme.license.present? %>
          <h3>Licence</h3>
          <p><%= resource_uri_or_label(concept_scheme, concept_scheme.license) %></p>
        <% end %>

        <% if concept_scheme.contact_email.present? %>
          <h3>Contact</h3>
          <p><%= auto_link concept_scheme.contact_email.to_s.gsub("mailto:","") %></p>
        <% end %>

        <% if concept_scheme.description.present? %>
          <h3>Further Information</h3>
          <noscript>
            <%= RDiscount.new(concept_scheme.description.to_s).to_html.html_safe %>
            <style> .js-only { display: none } </style>
          </noscript>
          <div class="js-only truncated" id="further-info-wrapper" >
            <%= RDiscount.new(concept_scheme.description.to_s).to_html.html_safe %>
            <div class="fade-out"></div>
          </div>
          <p class="js-only"><a href="#" id="read-more">Read more...</a></p>
          <script>
            $("a#read-more").click(function(e) {
              e.preventDefault();
              $("#further-info-wrapper").removeClass("truncated");
              $("#further-info-wrapper .fade-out").hide();
              $("a#read-more").closest('p').hide();
            });
          </script>
        <% end %>
      </div>
      <div class="five columns offset-by-one">
        <% if concept_scheme.local? %>
          <% if concept_scheme.issued.present? %>
            <h3>Issued</h3>
            <p><%= DateTime.parse(concept_scheme.issued.to_s).to_s(:long) %></p>
          <% end %>

          <% if concept_scheme.modified.present? %>
            <h3>Modified</h3>
            <p><%= DateTime.parse(concept_scheme.modified.to_s).to_s(:long) %></p>
          <% end %>
        <% end %>

        <% if concept_scheme.tags && concept_scheme.tags.any? %>
          <h3>Tags</h3>
          <p><%= concept_scheme.tags.join(", ") %></p>
        <% end %>
      </div>
    </div>

    <nav class="container">
      <ul class="tabs" style="display:none;">
        <li><a id="default_tab" href="#concepts">Concepts</a></li>
        <li><a href="#rdf-api">Linked Data &amp; SPARQL</a></li>
      </ul>
    </nav>
  </section>

  <section id="concepts">
    <div class="row container">
      <%= render 'publish_my_data/resources/summaries', :resources => concept_scheme.concepts %>
    </div>
  </section>
  <%= render 'publish_my_data/resources/sparql_section', resource: concept_scheme %>

  <%= render 'publish_my_data/resources/resource_formats', :resource => concept_scheme, :resource_descriptor => "resource" %>

</article>