%section
	= fullwidth do
		= section_title("Linked Data", true)
		- case resource_class_name
			- when "dataset"
				%p
					This is a linked data dataset containing
					%strong
						- if (resource.size)
							= number_to_human(resource.size).downcase
					RDF triples about the topic, which can be queried using our <a href="/docs#ways-to-access-data">APIs</a> or <a  href="/sparql">SPARQL endpoint</a>.
				%p{style:"margin-bottom:24px;"}
					RDF triples in datasets are updated atomically, and share descriptive metadata.
			- when "ontology"
				%p
					An <strong><em>ontology</em></strong> is a set of <strong><em>classes</em></strong> and <strong><em>properties</em></strong> about a certain topic area. These can be used for resources' types and properties (predicates) respectively.</p>
			- when 'concept scheme'
				%p
					A <strong><em>concept scheme</em></strong> is a collection of <strong><em>concepts</em></strong> about a topic. A Concept scheme can act as a list of possible values for a certain property of a resource (i.e. possible objects for RDF triples).</p>

- if resource_class_name == "dataset" # TODO: downloads for ontologies
	= row do
		.pmd_box_half
			%h4 Named Graph
			- if resource.data_graph_uri
				%p
					Resources in this dataset are stored a named graph. This graph can be used in SPARQL queries to restrict results to this dataset.
				= content_tag :kbd, resource.data_graph_uri, class:'click_to_select', style:"font-size:1em; margin-bottom:12px; display:block;"
				%p
					For a live example of how to use this, #{link_to_sparql_tool_with_graph(resource.data_graph_uri)}.			
			- else
				%p
					No named graph is available.
		.pmd_box_half
			%h4 Download
			%p
				The complete dataset is also available for download:
			= link_to resource.data_dump.to_s, class:"btn icon-box-add type-a" do
				<span>N-Triples<small>(#{resource.size || "all"}  triples)</small></span>
