<table>
  <thead>
    <% if defined?(show_title) && show_title %>
      <tr>
        <td colspan="2">
          <% if resource.label %>
            <h3 class="bold"><%= link_to resource.label, resource_path_from_uri(resource.uri) %></h3>
            <h3><%= resource.uri %></h3>
          <% else %>
            <h3><%= link_to resource.uri, resource_path_from_uri(resource.uri) %></h3>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th class="range-right">Predicate</th>
      <th>Object</th>
    </tr>
  </thead>
  <tbody>
    <% resource.predicates.each do |pred| %>
      <tr>
        <td class="range-right hardwrap">
          <%= resource_uri_or_label(resource, pred) %>
        </td>
        <td class="details constrain hardwrap">
          <% resource.read_predicate(pred).each do |obj| %>
            <h3><%= resource_uri_or_label(resource, obj) %></h3>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>