- resource_class_name = resource.class.name.demodulize.humanize.downcase

%section#linked-data
  .primary
    %h3 SPARQL

    :markdown
      The data contained in this #{resource_class_name} is stored in a named graph, which can be used in SPARQL queries to restrict results to this #{resource_class_name}.
    = content_tag :code, resource.data_graph_uri, class: 'namedgraph click-to-select'

    - if resource.data_dump.present?
      %h3 Download
      %p
        = link_to resource.data_dump.to_s do
          %i.icon-download
          Complete dump of all #{resource.size if resource.size.present?} triples in this #{resource_class_name}.
        (zipped n-triples file)

  .secondary
    %a.button(href="/sparql") Run a SPARQL Query
    %h3 API Docs
    %p Full details of how to programatically access the data in this site can be found in the #{ link_to 'Developer Documentation', publish_my_data.developer_docs_path }.
