<h1>Resources</h1>

<!-- Filter info -->

<% if @type_filter %>
  Of type:
  <% if @type %>
    <%= link_to @type.label || @type.uri, resource_path_from_uri(@type.uri) %>
  <% else %>
    <%= link_to @type_filter, resource_path_from_uri(@type_filter) %>
  <% end %>
  <br/>
<% end %>

<% if @dataset_filter %>
  In dataset:
  <% if @dataset %>
    <%= link_to @dataset.title, @dataset %>
  <% else %>
    <%= link_to @dataset_filter, resource_path_from_uri(@dataset_filter) %>
  <% end %>
  <br/>
<% end %>

<br/>

<% @resources.each do |r| %>
  <%= link_to (r.label || r.uri), resource_path_from_uri(r.uri) %><br/>
<% end %>

<%= paginate @resources %>

<br/>

<% other_params = {:per_page => @pagination_params.per_page, :page => @pagination_params.page, :dataset => @dataset_filter, :type_uri => @type_filter} %>
Get this list as:
<%= link_to('N-triples', {:format => 'nt'}.merge(other_params)) %>
<%= link_to("Turtle", {:format => 'ttl'}.merge(other_params)) %>
<%= link_to("RDF/XML", {:format => 'rdf'}.merge(other_params)) %>
<%= link_to("JSON", {:format => 'json'}.merge(other_params)) %>