- # TODO: possible future improvements
- # - break up list of properties by graph
- # - show inbound links

- title = resource.label || resource.uri
- rdf_type_label = PublishMyData::RdfType.find(resource.rdf_type.first.to_s).label rescue nil

- highlight_in_menu "browse"
- set_page_title("Resource: #{title}")
- page_kind 'resource'
- set_pmd_page_class 'resource'

- additional_formats_for_resource(resource.uri)

%header
	= fullwidth do
		= badge("resource")
		= page_title(title)
		= title_uri resource.uri
	= fullwidth do
		=label(resource.read_predicate(RDF.type).many? ? 'Types' : 'Type')
		%p= resource.read_predicate(RDF.type).map { |t| resource_uri_or_label(resource, t) }.join(", ").html_safe
		- if resource.theme
			=label("Theme")
			%p= link_to "#{resource.theme.label || resource.theme.uri}", theme_path(resource.theme)
		- if resource.dataset
			=label("Dataset")
			%p= link_to "#{resource.dataset.label || resource.dataset.uri}", dataset_path(resource.dataset)

= render  'publish_my_data/stripes/resource_data', resource: resource