<% page_title "Resources" %>

<article>
  <%= top_section("Resources")%>

  <% content_for :data_crumb do %>
    <ol class="breadcrumb">
      <%= data_home_crumb %>
      <%= theme_crumb(@dataset.theme_obj) if @dataset && @dataset.theme_obj %>
      <%= dataset_crumb(@dataset) if @dataset %>
      <% if @type_filter %>
        <%= type_crumb(@type_filter, @dataset, true)  %>
      <% else %>
        <%= crumb_list_item("Resources", "#", "resource") unless @type_filter %>
      <% end %>
    </ol>
  <% end %>

  <section>
    <div class="row container">
      <%= render 'resources_table' %>
    </div>
  </section>

  <% other_params = {:per_page => @pagination_params.per_page, :page => @pagination_params.page, :dataset => @dataset_filter, :type_uri => @type_filter} %>
  <%= bottom_formats_section "page of resources",
      link_to('N-triples', {:format => 'nt'}.merge(other_params)),
      link_to("Turtle", {:format => 'ttl'}.merge(other_params)),
      link_to("RDF/XML", {:format => 'rdf'}.merge(other_params)),
      link_to("JSON", {:format => 'json'}.merge(other_params))
  %>
</article>