- content_for :data_crumb do
  %ol.breadcrumb
    %li= link_to 'Home', '/'
    %li= link_to 'Statistics Selector', '#'

-# page_title "Statistics Selector: Review the data"

%section#stats-selector.step-two
  .row.container
    .sixteen.columns
      %h3 Statistics Selector
      %h1 Step 2 of 3: Review the data
  .row.container
    .sixteen.columns
      %ul
        - unless @gss_resource_uris.empty?
          %li#imported
            %i.icon-thumbs-up
            = pluralize(@gss_resource_uris.size, 'GSS code')
            imported.
        - unless @non_gss_codes.empty?
          %li#not-imported
            %i.icon-warning
            = pluralize(@non_gss_codes.size, 'row')
            not imported.
            = link_to 'Show data', '#', id: 'reveal-non-imported-data'
            %code#non-imported-data
              %pre
                - @non_gss_codes.each do |non_gss_code|
                  = non_gss_code
                  \

      = form_tag selectors_path, multipart: true do
        = hidden_field_tag :geography_type, @geography_type
        = hidden_field_tag :gss_resource_uri_data, @gss_resource_uri_data
        .submit.primary
          = submit_tag 'Proceed to next step'
          = link_to 'Return to previous step', new_selector_path, class: 'btn btn-cancel'