- highlight_in_menu "vocabularies"
- set_page_title "Vocabularies"
- page_kind 'list of vocabularies'
- bodyclass 'vocabualaries'

%header
	= fullwidth do
		= page_title("Vocabularies")
		%p
			Lorem ipsum explanatory text here.

%section
	= fullwidth do
		= section_title("Ontologies")
		%p
			List (TODO)

%section
	= fullwidth do
		= section_title("Concept Schemes")
		%p
			List (TODO)
